* {
    margin: 0;
    padding: 0;
}

.menu-info-gerais .menu-modulos {
    clear: left;
}

html {
    height: 700px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    height: 100%;
    background: url(../images/bg_top.png) top center no-repeat;
}

.ilustration {
    float: right;
    margin: 15px 20px;
    width: 35%;
}

h2 {
    color: #78909C;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

h2.subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

#question {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
}

h4 {
    color: #78909C;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: normal; */
}

h5 {
    color: #F97D6D;
    font-size: 12px;
    font-family: 'Open Sans Semibold', sans-serif;
    display: inline;
    padding-right: 10px;
    margin-top: 20px;
}

h5.link {
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    text-align: justify;
}

.main {
    margin: 25px auto auto;
    border-radius: 25px;
    border: 1px solid lightgray;
    padding: 20px;
    max-width: 1170px;
    height: 140%;
    overflow: hidden;
    box-sizing: border-box;
}
.main hr{
    float: left;
    clear: both;
    width: 100%;
    opacity: 0.3;
}
.content {
    width: 72%;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    height: 100%;
}

.text-content {
    height: 100%;
}
.cadastro .new_user{
    width: 25%;
    margin: 30px 0 10px 0;
    float: right;
    text-align: right;
}

#title {
    width: 66.66%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search{
    width: 33%;
    float: right;
}
.subtitle {
    margin-bottom: 20px;
    margin-top: 20px;
}

.top{
    width: 100%;
    height: 65px;
    background-color: #F97D6D;
}
.top .logo{
    width: 25%;
    float: left;
    height: auto;
    background: #78909c;
    box-sizing: border-box;
    padding: 14px 0;
    position: relative;
    margin-left: 14px;
}
.top .logo:after{
    content: " ";
    width: 20px;
    height: 20px;
    background: #4a5a62;
    position: absolute;
    bottom: 4px;
    left: -10px;
    z-index: -1;
    transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);

}
.top .logo:before{
    content: " ";
    width: 20px;
    height: 20px;
    background: #4a5a62;
    position: absolute;
    bottom: 4px;
    right:-10px;
    z-index: -1;
    transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);

}
.top .logo img{
    display: block;
    margin: 0 auto;
}
.principal {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    max-width: 1170px;
}

ul li {
    list-style: none;
}

.principal ul li {
    display: inline;
    float: right;
}

.principal li a {
    color: #303030;
    text-decoration: none;
    padding: 20px 40px;
    line-height: 65px;
}

.principal li a:hover {
    background-color: #C86357;
    color: #fff;
    position: relative;
}
.principal li a:hover::after{
    content: " ";
    width: 20px;
    height: 20px;
    background: #C86357;
    position: absolute;
    bottom: 4px;
    right:-10px;
    z-index: -1;
    transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
}

.sidebar{
    width: 25%;
    float: left;
    margin-top: 10px;
    clear: both;
}
.lateral li {
    border-bottom: 1px solid #fff;
    background-color: #F7C2BB;
    width: 260px;
    height: 45px;
}

.lateral li a {
    text-decoration: none;
    color: #303030;
    line-height: 45px;
    margin-left: 20px;
}

.lateral .ic_menu::after{
    content: " ";
    width: 20px;
    height: 20px;
    background: url(../images/ic_menu_normal.png) center top no-repeat;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

/*    background: url(../images/ic_menu_hover.png) center top no-repeat; */

li ul.sub-menu1 {
    position: absolute;
    left: 335px;
    right: 180px;
    top: 555px;
    display: none;
    z-index: 10;
}

li ul.sub-menu2 {
    position: absolute;
    left: 600px;
    right: 180px;
    top: 600px;
    display: none;
    z-index: 10;
}

.lateral li ul li.sub-menu1 {
    min-width: 40%;
    margin-left: 10px;
}

.lateral li ul li.sub-menu2 {
    min-width: 50%;
    margin-left: 10px;
}

li:hover ul { display: block; }

.menu-info-gerais ul li:hover {
    background-color: #F97D6D;
}

.menu-info-gerais li a:hover {
    color: #FFF;
}

.menu-modulos ul li:hover {
    background-color: #F97D6D;
}

.menu-modulos li a:hover {
    color: #FFF;
}

#cadastro {
    width: 95px;
}

#ilustration {
    max-height: 600px;
    max-width: 600px;
}
