/*Todos os Botões*/
.bt_main{
	padding: 5px 20px;
	margin-left: 5px;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}
.bt_second_action{
	background: #78909C;
	height: 40px;
	border: 1px solid gray;
	color: #fff;
	font-family: 'Open Sans', sans-serif;

}
.bt_main_action{
	background: #78909c;
	color: #fff;
	border: 1px solid #36515f;
}

/*Padrões de Input*/
.input_main{
	padding: 15px 10px;
	font-size: 14px;
	width: 95%;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	background: #fefefe;
}
.input_main:focus{
	background: #fff;	
}

/*Estilo do CheckBox*/
.check{
	width: 19px;
	height: 19px;
	position: relative;
	display: block;
	margin: 5px 10px 5px 0;
	float: left;
}
.check < p{
	width: 100%;
	padding: 5px 0;
}
.check label{
	margin-left: 10px;
}
.check::after{
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 19px;
	content: '';
	background: url(images/check_inactive.png) top center no-repeat;
	background-position: 0 1px;
}
.check:checked::before{
	content: '';
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 19px;
	height: 19px;
	background: url(images/check_active.png) top center no-repeat;
	background-position: 0 1px;
}
/* Fim do Estilo do CheckBox*/
